@model IEnumerable<ViewModels.GamePlayerViewModel>

<table class="table" id="searchResult">
    <h1>Cards:</h1>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name):
                @foreach (var i in item.PlayingCards)
                {
                <td>
                    @Html.DisplayFor(modelItem => i.CardValue)
                </td>
            }
                </td>
            </tr>
        }
</table>

@using (Ajax.BeginForm("PlayAgain", new AjaxOptions { UpdateTargetId = "result" }))
{
    <input type="text" name="yesOrNo" />
    <input type="submit" value="Поиск" />
}

<table class="table">
    <h1>Total scors:</h1>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name):                    @Html.DisplayFor(modelItem => item.Score)
            </td>
        </tr>
    }
</table>
