@model IEnumerable<ViewModels.PlayingCardViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardValue)
            </td>
        </tr>
    }

</table>