@model IEnumerable<ViewModels.GamePlayerViewModel>

@{
    ViewBag.Title = "ShowPlayers";
}

<h2>Index</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
